
@{
    ViewData["Title"] = "Find Hotel";
}

<h1>Search</h1>

@*create html form add data to class*@
<form method="post">
    @*inputs for all the properties*@
    <label>Hotel Name:</label>
    <input type="text" name="hotel-name" />
    <br />

    @*submit form*@
    <input type="submit" value="Check Availability"/>
</form>